[submodule "src/third_party/OpenUSD"]
	path = src/third_party/OpenUSD
	url = https://github.com/PixarAnimationStudios/OpenUSD.git
[submodule "src/third_party/meshoptimizer"]
	path = src/third_party/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "src/third_party/embree"]
	path = src/third_party/embree
	url = https://github.com/RenderKit/embree.git
[submodule "src/third_party/tinyexr"]
	path = src/third_party/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "src/third_party/openpbr-bsdf"]
	path = src/third_party/openpbr-bsdf
	url = https://github.com/mavenkim2/openpbr-bsdf.git
[submodule "src/third_party/OpenColorIO"]
	path = src/third_party/OpenColorIO
	url = https://github.com/AcademySoftwareFoundation/OpenColorIO.git
